<!DOCTYPE html>
<html>
    <head>
        <title>Change User Data</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="css/main.css" media="screen"/>
    </head>
    <body>
            <!--BACK TO HOME BUTTON-->
            <form action="/home">
                <button class="backbutton_design" type="submit"><strong>BACK TO HOME</strong></button>
            </form>
            <!--SWITCH STATES FOR LAYER VISIBILITY-->
            <input type='checkbox' id='changeuser-switch'>
            <input type='checkbox' id='changepw-switch'>
            <input type='checkbox' id='changeemail-switch'>
            <input type='checkbox' id='deleteacc-switch'>
            <!--MAINSITE CHOOSE BAR-->
            <form class="box" id='main-form' method='POST'>
                <h1 id="title">Userstuff</h1>
                <p></p>
                <label for='changeuser-switch'><span>User change</span></label>
                <p></p>
                <label for='changepw-switch'><span>Password change</span></label>
                <p></p>
                <label for='changeemail-switch'><span>Email change</span></label>
                <p></p>
                <label for='deleteacc-switch'><span>Delete account</span></label>
                <% if (typeof msgChangeUser != "undefined") { %>
                  <div>
                      <p id="errorMessage"> <%= msgChangeUser %></p>
                  </div>
                <% } %>
                <% if (typeof msgChangePassword != "undefined") { %>
                  <div>
                      <p id="errorMessage"> <%= msgChangePassword %></p>
                  </div>
                <% } %>
                <% if (typeof msgChangeEmail != "undefined") { %>
                  <div>
                      <p id="errorMessage"> <%= msgChangeEmail %></p>
                  </div>
                <% } %>
                <% if (typeof msgChangeDelete != "undefined") { %>
                  <div>
                      <p id="errorMessage"> <%= msgChangeDelete %></p>
                  </div>
                <% } %>
            </form>
            <!--BOX CHANGEUSER-->
            <form class="box" id='changeuser-form' action="/change_username" method='POST'>
                <h1 id="title">Userstuff</h1>
                <p>Username:<%=username%></p>
                <p><strong>Change username</strong><p>
                <input type="text" name="new_username" placeholder="New Username" required>
                <input type="submit" value="Change">
              <label for='changeuser-switch'><span>Back</span></label>

            </form>
            <!--BOX CHANGE PASSWORD-->
            <form class="box" id='changepw-form' action="/change_password" method='POST'>
                <h1 id="title">Userstuff</h1>
                <p><strong>Change password</strong></p>
                <input type="password" name="new_password" placeholder="New Password" required>
                <input type="password" name="new_password_repeat" placeholder="RE Password" required>
                <input type="submit" value="Change">
              <label for='changepw-switch'>Back</label>

            </form>
            <!--BOX CHANGE EMAIL-->
            <form class="box" id='changeemail-form' action="/change_mailadress" method='POST'>
              <p></p>
                <h1 id="title">Userstuff</h1>
                <p2><%=email%></p2>
                <p><strong>Change email</strong></p>
                <input type="email" name="new_email" placeholder="New E-Mail" required>
                <input type="submit" value="Send me a mail!">
              <label for='changeemail-switch'>Back</label>
              <p></p>
            </form>
            <!--BOX DELETE ACCOUNT-->
            <form class="box" id='deleteacc-form' action="/delete_account" method='POST'>
                <h1 id="title">Userstuff</h1>
                <p>That´s very sad. We´ll miss you! Come back anytime to rejoin The Blobfish-Family.</p>
              <input type="submit" value="DELETE">
              <label for='deleteacc-switch'>Back</label>

            </form>
    </body>
</html>